
/*font Variables*/
$primary-font: 'Oswald', sans-serif;
$mali: 'Mali', cursive;

/*Color Variables*/
$primary-color	: #F08A25;
$primary-color2	: #3E9A3A;
$title-color	: #5D3208;
$text-color		: #5D3208;